################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
/bin/Debug/netcoreapp3.1
/obj/Debug/netcoreapp3.1/staticwebassets
/obj/Debug/netcoreapp3.1/HardCodeTestApi.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/HardCodeTestApi.pdb
/obj/Debug/netcoreapp3.1/HardCodeTestApi.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/HardCodeTestApi.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/HardCodeTestApi.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/HardCodeTestApi.dll
/obj/Debug/netcoreapp3.1/HardCodeTestApi.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/HardCodeTestApi.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/HardCodeTestApi.csproj.CopyComplete
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/HardCodeTestApi.csproj.AssemblyReference.cache
/obj/Debug/netcoreapp3.1/HardCodeTestApi.assets.cache
/obj/project.nuget.cache
/obj/project.assets.json
/obj/HardCodeTestApi.csproj.nuget.g.props
/obj/HardCodeTestApi.csproj.nuget.dgspec.json
